<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{UNIX}|%d{dd MMM yyyy HH:mm:ss,SSS}|%t|%-5level|%logger{36}|%msg%n"/>
        </Console>
        <File name="FileAll" fileName="server.log" append="false" locking="true">
            <PatternLayout>
                <Pattern>%d{UNIX}|%d{dd MMM yyyy HH:mm:ss,SSS}|%t|%-5level|%logger{36}|%msg%n</Pattern>
            </PatternLayout>
        </File>
        <Async name="AsyncFileAll" bufferSize="262144">
            <AppenderRef ref="FileAll"/>
            <LinkedTransferQueue/>
        </Async>
    </Appenders>
    <Loggers>
        <!-- <Logger name="pl.lodz.pl.it.ssbd2021.ssbd05.mok.cdi.endpoints.UserEndpoint" level="all">

        </Logger> -->
        <Root level="all">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="AsyncFileAll"/>
        </Root>
    </Loggers>
</Configuration>